.header-maincontainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .header-elements{

        display: none;
        padding: 4px;
        @media (min-width:500px) {
            display: flex;
            
        }
    }
}
