.layout{
  
    display: flex;
    padding: 5px;
  
    box-sizing:border-box;
    
}
.maindiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing:border-box;
    flex-wrap: nowrap;
    // padding: 5px;

    align-items: flex-start;
    justify-content: center;
    


}
.greatparent{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    flex-wrap: nowrap;
    padding: 5px;
    justify-content: center;
    align-items: center;

    
}
.mainwrapper{

    width: 100%;
    // max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.leftcolumn{
    box-sizing:border-box;
    display:flex;
width: auto;
    flex-direction: column;
    


    // @media (max-width:500px){
    //     display: none;
    
    // }
}
.rightcolumn{
    display: none;
    box-sizing:border-box;
    flex-direction: row;
    width: 20%;
    padding: 20px;
    @media (min-width:700px){
        display: flex;

    }
} 
.centercolumn{
    display: flex;
    
    flex-direction: column;
    box-sizing:border-box;


    width: 100%;
    padding: 5px;
}