.hamburger{

display: none;
flex-direction: column;
    height: auto;
    width:  15%;
    box-sizing: border-box;
    align-items: center;
    @media (max-width:500px) {
        display: flex;
        
    }
    .lane{
        
        border-bottom: 2px solid black;
        width: 80%;
        margin-top: 20%;
    
        
    }
  
}

